# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# C extensions
*.c
*.so

# Distribution & Packaging
.eggs
build
dist
src/*.egg-info

# Testing & Coverage
.pytest_cache
.tox
.coverage

# Model caches
*.pymoca_cache

# Editors
.idea
.ipynb_checkpoints
.vscode
